/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/

:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  margin: auto;
  width: 1440px;
  width: 100%;
}

.main {
  margin: 47px 213px 132px 67px;
}

.navbar {
  padding-left: 165px !important;
  padding-right: 139px !important;
  padding-top: 40px !important;
}

.nb-brand {
  height: 42px;
  padding: 0;
  width: 150px;
}

.ul-nav {
  width: 341px;
}

a.nav-link {
  color: rgba(39, 33, 64, 0.7);
  font-family: var(--default-font-family);
  font-weight: 500;
  line-height: 24px;
}

.nl-active {
  color: var(--branding-color) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}

.hero {
  background-color: var(--secondary-color);
  padding-bottom: 271px;
  padding-top: 194px;
  text-align: center;
  width: 100%;
}

.hero p {
  color: #272142;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
}

.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 120px 60px;
}

.work-inquiry {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  margin: 132px 213px 81px 67px;
}

.r-side {
  display: flex;
  justify-content: flex-end;
}

.bottom a.btn.btn-branding {
  margin-left: auto;
  margin-right: 121px;
  margin-top: 71px;
  margin-bottom: auto;
}

.bottom h2 {
  padding-left: 119px;
  padding-top: 49px;
}

.bottom p {
  color: #272142;
  padding-left: 119px;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 81px 655px 133px 507px;
}

#e-mail {
  color: #000000;
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  padding: 0 auto 41px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 186px;
  height: 40px;
}

.btn-branding-social-m {
  align-items: center;
  background-color: rgba(108, 99, 255, 0.05);
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  height: 40px;
  width: 40px;
}

#facebook,
#twitter,
#instagram {
  color: #6c63ff;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

#twitter {
  margin-left: 16.5px;
  margin-right: 16.5px;
}

.content-container {
  padding: 160px 20px;
}

.content {
  margin: 30px;
  text-align: center;
  padding: 0;
}

.contact {
  text-align: left;
}

.content h1 {
  font-size: 64px;
  line-height: 85px;
}

.content h2 {
  font-family: var(--default-font-family);
  font-size: 18px;
  line-height: 27px;
}

.content h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 1.5;
}

.content p {
  font-family: var(--default-font-family);
  font-size: 14px;
}

.logo {
  max-height: 40px;
}

nav {
  padding: 20px 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  line-height: 42px;
  list-style: none;
  margin-left: 15px;
}

nav a {
  color: #272142;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

@media (max-width: 960px) {
  .hero {
    padding: 8px 20px;
  }

  h1 {
    font-size: 44px;
    line-height: 56px;
    margin: auto;
    text-align: center;
  }

  h2 {
    font-size: 44px;
    margin: auto;
    text-align: center;
  }

  .main,
  .work-inquiry {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin: 132px auto 81px;
    text-align: center;
  }

  .footer {
    margin: auto;
  }

  .project-description {
    padding: 0;
  }

  .about-section {
    padding: 0;
    text-align: center;
  }

  nav a {
    font-size: 12px;
  }
}
